<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NOTE API</title>
  </head>
  <body>
    <h1>Welcome to our note API</h1>
    <h4>consume via iOS and Android Apps</h4>
    <h5>Use the following endpoints</h5>
    <p><code>localhost:1337/api/v1/notes</code> Get all notes</p>
    <p><code>localhost:1337/api/v1/note</code> Save note</p>
    <p><code>localhost:1337/api/v1/note/:id</code> Delete with ID</p>
    <p><code>localhost:1337/api/v1/note/:id</code> Update with ID</p>
  </body>
</html>
